body {
  font-family: Arial, sans-serif;
}

.contain {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}


.contain input[type="text"],
.contain input[type="email"],
.contain textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}